.scroll-pane{
    -fx-background-color:transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar .increment-button, .scroll-pane .scroll-bar .decrement-button,
    .scroll-pane .scroll-bar .increment-arrow, .scroll-pane .scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: rgb(15%, 15%, 15%);
}

.scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: rgb(17%, 17%, 17%);
}
